// .App {
//   min-height: 100vh;
// }


.App-link {
  color: #61dafb;
}

.topmenu{
  margin-bottom: 5px;
  font-size: 18px;
  li{
    display: inline-block;
    // width: 9%;
    margin-right: 20px;
    font-weight: 400;
  }
}
